# created: 2024-08-11T16:40:30+02:00
# public key: {{ onepasswordRead "op://Private/jghgejdfvvychct7vh6i56ofty/Public key" }}
{{ onepasswordRead "op://Private/jghgejdfvvychct7vh6i56ofty/Secret key" }}

